<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>body{ font-family: sans-serif; }</style>
</head>
<body>
    <h2>Adicionar Novo Usuário</h2>
    <form method="post" action="/login/novo">
        <input type="text" name="nome" placeholder="Nome Completo" required>
        <input type="email" name="email" placeholder="seu melhor email" required>
        <input type="password" name="senha" placeholder="digite sua senha" required>
        <button type="submit">Adicionar</button>
    </form>
</body>
</html>