<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h2>Formulário de Cadastro</h2>
        <form id="registrationForm" action="{{ url_for('registrarUsuario') }}" method="post" novalidate>
            <label for="name">Nome:</label><input type="text" id="username" name="username"><br>
            <label for="email">E-mail:</label><input type="email" id="email" name="email"><br>
            <label for="password">Senha:</label><input type="password" id="password" name="password"><br>
            <p id="mensagem"></p><br>
            <button id="botao" type="submit">Cadastrar</button>
        </form><br><br>
    </div>
</body>
</html>