
{% extends 'base.html' %}
{% block content %}
  <h2>Atualizar Limpeza - Quarto {{ room['numero_quarto'] }}</h2>
  <form method="post">
    <select name="status"><option {% if room['status_limpeza']=='Sujo' %}selected{% endif %}>Sujo</option><option {% if room['status_limpeza']=='Limpando' %}selected{% endif %}>Limpando</option><option {% if room['status_limpeza']=='Limpo' %}selected{% endif %}>Limpo</option></select>
    <div class="actions"><button class="button">Salvar</button></div>
  </form>
{% endblock %}

