{% extends 'base.html' %}
{% block content %}

<section class="page-section centered">
    <div class="container max-400">

        <div class="section-title">
            <h2>Entrar</h2>
            <p>Acesse o painel com suas credenciais</p>
        </div>

        <div class="card-form">
            <form method="post" action="{{ url_for('auth.login') }}">

                <label for="email">E-mail</label>
                <input class="input-field" name="email" placeholder="Seu e-mail" required>

                <label for="senha">Senha</label>
                <input class="input-field" name="senha" type="password" placeholder="Sua senha" required>

                <div class="actions space-between">
                    <button class="btn" type="submit">Entrar</button>
                    <a class="pill" href="{{ url_for('main.index') }}">Página inicial</a>
                </div>

            </form>
        </div>

    </div>
</section>

{% endblock %}
