{% extends 'base.html' %}
{% block content %}

<section class="page-section">
    <div class="container">

        <div class="section-title">
            <h2>Tipos de Quarto</h2>
            <p>Gerencie os modelos disponíveis no hotel</p>
        </div>

        <a class="btn" href="{{ url_for('admin.create_room_type') }}">Novo Tipo</a>

        <div class="table-wrapper" style="margin-top: 25px;">
            <table class="styled-table">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Capacidade</th>
                        <th>Preço</th>
                    </tr>
                </thead>

                <tbody>
                {% for t in types %}
                    <tr>
                        <td>{{ t['nome_tipo'] }}</td>
                        <td>{{ t['capacidade_maxima'] }}</td>
                        <td>R$ {{ t['preco_diaria_base'] }}</td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>

    </div>
</section>

{% endblock %}
