{% extends 'base.html' %}
{% block content %}

<section class="page-section">
    <div class="container">

        <div class="section-title">
            <h2>Usuários</h2>
            <p>Gerencie contas e perfis de acesso</p>
        </div>

        <a class="btn" href="{{ url_for('admin.create_user') }}">Criar Usuário</a>

        <div class="table-wrapper" style="margin-top: 25px;">
            <table class="styled-table">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>E-mail</th>
                        <th>Perfil</th>
                    </tr>
                </thead>

                <tbody>
                {% for u in users %}
                    <tr>
                        <td>{{ u['nome_completo'] }}</td>
                        <td>{{ u['email'] }}</td>
                        <td>{{ (profiles|selectattr('id','equalto',u['perfil_id'])|first)['nome_perfil'] }}</td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>

    </div>
</section>

{% endblock %}
